.header {
    margin-top: 45px;
    min-height: 75px;
    width: 100%;
    border-bottom: 1px solid rgb(84 84 84 / .7);
}

@media screen and (max-width: 715px) {
    .header__logo {
    margin-left: 27px;
    }
}

@media screen and (max-width: 580px) {
    .header {
        margin-top: 28px;
        min-height: 56px;
    }

    .header__logo {
        width: 126px;
        height: 24px;
    }
}